numpy
seaborn
matplotlib
scikit-learn
keras
tensorflow
pydot
graphviz
dill  
flask==3.0.2
werkzeug==3.0.1
pandas==2.1.4
langchain==0.1.16
sentence-transformers==2.6.1
faiss-cpu==1.8.0
pypdf==4.1.0
ollama==0.1.6
torch==2.2.1
-e .